<form nz-form [formGroup]="formGroup" (ngSubmit)="onSubmit()" nzLayout="vertical">
  <!--  <nz-form-item>-->
  <!--    <nz-form-label [nzSpan]="4" nzFor="name">名称</nz-form-label>-->
  <!--    <nz-form-control [nzSpan]="20">-->
  <!--      <input formControlName="name" nz-input placeholder="请输入名称"/>-->
  <!--      <div *ngIf="formGroup.get('name')?.invalid && (formGroup.get('name')?.touched || formGroup.get('name')?.dirty)">-->
  <!--        <small style="color: red;">名称为必填项</small>-->
  <!--      </div>-->
  <!--    </nz-form-control>-->
  <!--  </nz-form-item>-->

  <nz-form-item *ngFor="let spec of specControls.controls; let i = index" [formGroup]="getSpecFormGroup(i)">
    <nz-form-control hidden="true">
      <label>Spec ID</label>
      <input formControlName="specId" nz-input [disabled]="true"/>
    </nz-form-control>
    <nz-form-control>
      <label>Spec Name</label>
      <input formControlName="specName" nz-input placeholder="Enter spec name"/>
    </nz-form-control>
    <nz-form-control hidden="true">
      <label>Display Order</label>
      <input formControlName="displayOrder" nz-input type="number"/>
    </nz-form-control>

    <h4>Values</h4>
    <div formArrayName="values" class="values-container">
      <div formArrayName="values">
        <div *ngFor="let value of getValuesArray(i).controls; let j = index" [formGroup]="getSpecValueFormGroup(i,j)"
             class="value-item">
          <nz-form-control hidden="true">
            <label>Value ID</label>
            <input formControlName="valueId" nz-input [disabled]="true"/>
          </nz-form-control>
          <nz-form-control>
            <!--            <label>Value</label>-->
            <input formControlName="value" nz-input placeholder="Enter value" style="width: 50%"/>
            <a (click)="removeValue(i, j)" style = "padding-left: 2px">X</a>
          </nz-form-control>
          <nz-form-control hidden="true">
            <label>Display Order</label>
            <input formControlName="displayOrder" nz-input type="number"/>
          </nz-form-control>
<!--          <button nz-button nzType="link" (click)="removeValue(i, j)">Remove Value</button>-->
        </div>
      </div>
    </div>
    <button nz-button nzType="dashed" (click)="addValue(i)">Add Value</button>
    <br><br>
  </nz-form-item>

  <button nz-button nzType="dashed" (click)="refreshSku()">refresh</button>
  <nz-table
    nzBordered
    [nzData]="skuTableData"
    [nzScroll]="{ x: '80%' }"
    [nzVirtualItemSize]="50"
  >
    <thead>
    <tr>
      <th>数据</th>
      <th>启用</th>
      <th *ngFor="let spec of specColumns">{{ spec.specName }}</th>
      <th nzWidth="100">规格编码</th>
      <th>价格</th>
      <th>货币</th>
      <th>可售库存</th>
      <th>重量（kg）</th>
      <th nzRight>操作</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let control of skuControls.controls; let i = index" class="editable-row"
        [formGroup]="getSkuFormGroup(i)">
      <td>{{ control.value | json }}</td>
      <td>
        <nz-switch formControlName="sellable" nzCheckedChildren="开" nzUnCheckedChildren="关"></nz-switch>
      </td>
      <ng-container *ngFor="let value of control.value.values">
        <td>{{ value.value }}</td>
      </ng-container>
      <td>
        <div class="editable-cell" [hidden]="editId === control.value.skuId" (click)="startEdit(control.value.skuId)">
          {{ control.value.displayName }}
        </div>
        <input
          formControlName="displayName"
          type="text"
          required
          [hidden]="editId !== control.value.skuId && control.value.displayName"
          nz-input
          (blur)="stopEdit()"
        />
        <div *ngIf="control?.invalid && ( control.get('displayName')?.dirty)">
          <small style="color: red;">必填项</small>
        </div>
      </td>
      <td>{{ control.value.price }}</td>
      <td>泰铢</td>
      <td>{{ control.value.stock }}</td>
      <td>{{ control.value.weight }}</td>
      <td nzRight>
        <div><a>增加可售库存</a></div>
        <div><a>减少可售库存</a></div>
        <div><a>查看变更记录</a></div>
      </td>
    </tr>
    </tbody>
  </nz-table>

  <nz-form-item>
    <nz-form-control [nzSpan]="24">
      <button nz-button nzType="primary" [disabled]="formGroup.invalid">提交</button>
    </nz-form-control>
  </nz-form-item>
</form>
